body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-image: url('../images/forest3.jpg');
    background-size: cover;
}

header {
    background-color:rgb(6, 6, 99);
    height: 180px;
    padding: 15px 0;
    /* to align title div vertically within header: */
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    margin-bottom: 50px;
}

header .title {
    width: 320px;
    color: white;
    /* float: none; */
    position: absolute;
    left: 50px;
    padding: 0 30px;
    font-family: 'Libre Baskerville', serif;
    font-weight: 500;
}

header .title h2 {
    margin: 0;
    font-size: 30px;
    text-align: center;
}

header .title h1 {
    font-size: 70px;
    margin: 0;
    text-align: center;
}

.menu-and-pic {
    position: absolute;
    right: 0;
    display: inline-flex;
}

.menu-and-pic ul {
    margin: auto;
    padding: 10px;
    text-align: right;
    list-style-type: none;
    font-family: 'Oswald', sans-serif;
}

.menu-and-pic ul li {
    font-size: 30px;
    padding: 3px 0;
    color: white;
}

.menu-link {
    font-size: 25px;
    padding: 0 5%;
    border-radius: 8%;
    color: rgb(153, 153, 153);
    transition: color 0.3s ease;
}

.menu-link:hover {
    color: white;
}

.menu-and-pic img {
    height: 210px;
}

/* END OF TOP BAR */


#top-half {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

#info-area {
    font-family: 'Truculenta', sans-serif;
    /* background-color: rgb(240, 234, 221); */
    background-image: url('../images/wood1.jpg');
    display: inline-block;
    width: 40vw;
    height: 53vw;
    min-width: 100px;
    padding: 0 2em;
    border-radius: 4%;
    text-align: center;
    color: white;
    overflow: auto;
}

#info-title, #get-in-touch {
    color:rgb(211, 158, 134);
    font-family: 'Shadows Into Light', cursive;
    font-size: 50px;
}

#info-area p {
    font-weight: 600;
    word-spacing: 2px;
    line-height: 30px;
    font-size: 20px;
}

#get-in-touch {
    font-size: 30px;
}

div#email{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

div#email img {
    width: 30px;
    padding-right: 5px;
}

.contact-text {
    font-size: 25px;
}

#contacts-container {
    display: flex;
    justify-content: space-evenly;
}

.social-site {
    display: inline-flex;
    flex-direction: column;
    transition: all .2s ease 0s;
    cursor: pointer;
}

.social-site img {
    width: 100px;
    /* display: block; */
}

.social-site:hover {
    transform: scale(1.2);
}

#pic-area {
    display: inline-block;
    width: 40vw;
    height: 53vw;
    min-width: 100px;
    border-radius: 4%;
}



/* for mobile screens */

