body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-image: url('../images/forest3.jpg');
    background-size: cover;
}

::selection {
    background-color: rgb(185, 138, 80)
}

header {
    height: 180px;
    padding: 15px 0;
    /* to align title div vertically within header: */
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    margin-bottom: 50px;
}

header .title {
    width: 320px;
    color: white;
    /* float: none; */
    position: absolute;
    left: 50px;
    padding: 0 30px;
    font-family: 'Libre Baskerville', serif;
    font-weight: 500;
}

header .title h2 {
    margin: 0;
    font-size: 30px;
    text-align: center;
}

header .title h1 {
    font-size: 70px;
    margin: 0;
    text-align: center;
    transform:translateX(-50px);
}

header .title h3 {
    font-size: 20px;
    text-align: center;
    font-style: italic;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    color:rgb(232, 219, 188);
    transform:translateX(-30px);
    margin-top: 5px;
}


/* remember to add JS to make background darken and deactivate clicks when popup appears.
#popup {
    height: 60vh;
    width: 60vw;
    visibility: hidden; 
    position: fixed;
    left: 20vw;
    top: 20vh;
    border-radius: 8%;
    background-color: rgb(241, 237, 231);
    display :flex;
    align-items: center;
    justify-content: center;
}

#popup form {
    position: static;
    height: 70%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
} */



.menu-and-pic {
    position: absolute;
    right: 0;
    display: inline-flex;
}

.menu-and-pic ul {
    margin: auto;
    padding: 10px;
    text-align: right;
    list-style-type: none;
    font-family: 'Oswald', sans-serif;
}

.menu-and-pic ul li {
    font-size: 30px;
    padding: 3px 0;
    color: white;
}

.menu-link {
    font-size: 25px;
    padding: 0 5%;
    border-radius: 8%;
    color: rgb(153, 153, 153);
    transition: color 0.3s ease;
}

.menu-link:hover {
    color: white;
}

.menu-and-pic img {
    height: 210px;
}

.menu-and-pic img:hover {
    transform: scaleX(-1);
}

/* END OF TOP BAR */


#top-half {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

#info-area {
    font-family: 'Truculenta', sans-serif;
    /* background-color: rgb(240, 234, 221); */
    background-image: url('../images/wood1.jpg');
    /* display: inline-block; */
    width: 40vw;
    height: 53vw;
    min-width: 100px;
    /* padding: 0 2em; */
    
    border-radius: 25px;
    text-align: center;
    color: white;
    overflow-x: hidden;
    overflow-y: auto;
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly; */
}

#info-title, #get-in-touch {
    color:rgb(211, 158, 134);
    font-family: 'Shadows Into Light', cursive;
    font-size: 50px;
}

#info-area p {
    font-weight: 600;
    word-spacing: 2px;
    line-height: 30px;
    font-size: 20px;
    padding: 0 2em;
}

#get-in-touch {
    font-size: 30px;
}

div#email{
    margin: 0 0 40px 0;
    transition: all .2s ease 0s;
    cursor: pointer;
}

div#email a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
}

div#email:hover {
    transform: scale(1.2);
}

div#email img {
    width: 30px;
    padding-right: 5px;
}

.contact-text {
    font-size: 25px;
}

#contacts-container {
    display: flex;
    justify-content: space-evenly;
}

.social-site {
    display: inline-flex;
    flex-direction: column;
    transition: all .2s ease 0s;
    cursor: pointer;
}

.social-site img {
    width: 100px;
    /* display: block; */
}

.social-site:hover {
    transform: scale(1.2);
}

#linkedin:hover {
    color: #0072b1;
}
#linkedin:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    background-color: #0072b1;
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
#linkedin:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

#resume:hover {
    color: rgb(221, 210, 151);
}
#resume:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    background-color: rgb(221, 210, 151);
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
#resume:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

#github:hover {
    color: #f1502f;
}
#github:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    background-color: #f1502f;
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
#github:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }




/* For the underline animation of website anchor tag */
.hover-underline-animation {
    /* display: inline-block; */
    position: relative;
  }
  
  /* .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    background-color: #f1502f;
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  } */
  
  /* .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  } */
  /* End of hover animation CSS */




#pic-area {
    display: inline-block;
    width: 40vw;
    height: 53vw;
    min-width: 100px;
    border-radius: 25px;
}



/* for mobile screens */

@media (max-width: 800px) {
    #top-half {
        display: block;
        margin: 0 auto;
    }

    #info-area {
        display: block;
        max-width: 95vw;
        max-height: 100vh;
        width: auto;
        height: auto;
        margin: 0 auto;
        margin-bottom: 3vh;
        padding-bottom: 3vh;
        font-weight: 600;
        word-spacing: 2px;
        line-height: 30px;
        font-size: 15px;
    }

    #pic-area {
        display: block;
        max-width: 95vw;
        max-height: 100vh;
        width: auto;
        height: auto;
        margin: 0 auto;
    }

    header .title {
        width: 50vw;
        color: white;
        /* float: none; */
        position: absolute;
        padding: 0 5vw;
        font-family: 'Libre Baskerville', serif;
        font-weight: 500;
    }

    header .title h1 {
        font-size: 50px;
    }

    header .title h2 {
        font-size: 30px;
    }

    header .title h3 {
        font-size: 15px;
    }

    
.menu-and-pic {
    position: absolute;
    right: 0;
    display: inline-flex;
}

.menu-and-pic ul {
    margin: auto;
    padding: 10px;
    text-align: right;
    list-style-type: none;
    font-family: 'Oswald', sans-serif;
}

.menu-and-pic ul li {
    font-size: 30px;
    padding: 3px 0;
    color: white;
}

.menu-link {
    font-size: 25px;
    padding: 0 5%;
    border-radius: 8%;
    color: rgb(153, 153, 153);
    transition: color 0.3s ease;
}

.menu-and-pic img {
    display: none;
}

}
