body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-image: url("../images/forrest.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header#main-header {
    background-color:rgb(6, 6, 99);
    height: 180px;
    padding: 15px 0;
    /* to align title div vertically within header: */
    display: flex;
    align-items: center;
    background-color: rgb(23, 19, 28);
    margin-bottom: 50px;
    z-index: 2;
    position: relative;
}

header#main-header .title {
    width: 320px;
    color: white;
    /* float: none; */
    position: absolute;
    left: 50px;
    padding: 0 30px;
    font-family: 'Libre Baskerville', serif;
    font-weight: 500;
}

header#main-header .title h2 {
    margin: 0;
    font-size: 30px;
    text-align: center;
    transform:translateX(-50px);
}

header#main-header .title h1 {
    font-size: 70px;
    margin: 0;
    text-align: center;
}

header#main-header .title h3 {
    font-size: 20px;
    text-align: center;
    font-style: italic;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    transform:translateX(-50px);
    color:rgb(220, 205, 220);
}

.menu-and-pic {
    position: absolute;
    right: 0;
    display: inline-flex;
}

.menu-and-pic ul {
    margin: auto;
    padding: 10px;
    text-align: right;
    list-style-type: none;
    font-family: 'Oswald', sans-serif;
}

.menu-and-pic ul li {
    font-size: 30px;
    padding: 3px 0;
    color: white;
}

.menu-link {
    font-size: 25px;
    padding: 0 5%;
    border-radius: 8%;
    color: rgb(153, 153, 153);
    transition: color 0.3s ease;
}

.menu-link:hover {
    color: white;
}

.menu-and-pic img {
    height: 210px;
}

/* END OF TOP BAR */

header#small-header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

header#small-header ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}

header#small-header li {
    text-decoration: none;
    padding: 0 20px;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    color: white;
}

.current-s a {
    color: white;
    text-decoration: none;
}

.menu-link-s {
    color: rgb(153, 153, 153);
    font-size: 20px;
    transition: color 0.3s ease;
}

.menu-link-s:hover {
    color: white;
    font-size: 25px;
}


/* END OF BOTH NAV BARS. START MAIN BODY */

#long {
    height: 2000px;
}