body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-image: url("../images/forrest.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header#main-header {
    background-color:rgb(6, 6, 99);
    height: 180px;
    padding: 15px 0;
    /* to align title div vertically within header: */
    display: flex;
    align-items: center;
    background-color: rgb(23, 19, 28);
    /* margin-bottom: 50px; */
    z-index: 2;
    position: relative;
}

header#main-header .title {
    width: 320px;
    color: white;
    /* float: none; */
    position: absolute;
    left: 50px;
    padding: 0 30px;
    font-family: 'Libre Baskerville', serif;
    font-weight: 500;
}

header#main-header .title h2 {
    margin: 0;
    font-size: 30px;
    text-align: center;
    transform:translateX(-50px);
}

header#main-header .title h1 {
    font-size: 70px;
    margin: 0;
    text-align: center;
}

header#main-header .title h3 {
    font-size: 20px;
    text-align: center;
    font-style: italic;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    transform:translateX(-50px);
    color:rgb(220, 205, 220);
}

.menu-and-pic {
    position: absolute;
    right: 0;
    display: inline-flex;
}

.menu-and-pic ul {
    margin: auto;
    padding: 10px;
    text-align: right;
    list-style-type: none;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}

.menu-and-pic ul li {
    font-size: 30px;
    padding: 3px 0;
    color: white;
}

.menu-link {
    font-size: 25px;
    padding: 0 5%;
    border-radius: 8%;
    color: rgb(153, 153, 153);
    transition: color 0.3s ease;
}

.menu-link:hover {
    color: white;
}

.menu-and-pic img {
    height: 210px;
}

/* END OF TOP BAR */

header#small-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: .3s;
    z-index: 1;
}

#small-header:hover{
    opacity: .8;
    z-index: 1;
}

header#small-header ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}

header#small-header li {
    text-decoration: none;
    padding: 0 20px;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    color: white;
}

.current-s a {
    color: white;
    text-decoration: none;
}

.menu-link-s {
    color: rgb(153, 153, 153);
    font-size: 20px;
    transition: color 0.3s ease;
}

.menu-link-s:hover {
    color: white;
    font-size: 25px;
}


/* END OF BOTH NAV BARS. START MAIN BODY */

.left-area {
    position: fixed;
    left: 0;
    width: 20vw;
    height: 100%;
    background-color: rgba(216, 195, 249, 0.85);
}


div.filter {
    position: fixed;
    left: 3.5vw;
    width: 15vw;
    /* background-color: rgba(216, 195, 249, 0.85); */
    border-radius: 5%;
    margin-top: 25px;
}

form.filter {
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    color: rgb(29, 14, 61);
}

.inputlabel {
    display: flex;
    flex-direction: row;
    align-items: center;
}

input[type='checkbox'] {
    appearance: none;
    margin-right: 5px;
    margin-left: 0;
    height: 20px;
    width: 20px;
    border-radius: 10%;
    background-color: slategrey;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter label {
    font-size: 20px;
    cursor: pointer;
}

input[type='checkbox']:after {
    font-family: 'Font Awesome 5 Free';
    content: '\f00c';
    font-weight: 900;
    font-size: 15px;
    display: none;
}

input[type='checkbox']:hover {
    background-color: rgb(161, 170, 180);
}

input[type='checkbox']:checked {
    background-color: rgb(82, 99, 214);
}

input[type='checkbox']:checked::after {
    display: block;
}

.filter-category {
    padding: 15px 20px;
}

.filter p {
    margin: 0;
    font-weight: 400;
}





#main-area {
    position: fixed;
    margin-top: 10px;
    left: 25vw;
    right: 5vw;
    color: black;
}

.blog-entry {
    padding: 10px 20px;
    margin: 30px auto;
    background-color: seashell;
}

.reviews {
    background-color: rgba(225, 200, 199, 0.95);
}