body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-image: url("../images/foolscap2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header#main-header {
    background-color:rgb(128, 24, 24);
    height: 180px;
    padding: 15px 0;
    /* to align title div vertically within header: */
    display: flex;
    align-items: center;
    /* margin-bottom: 50px; */
    z-index: 2;
    position: relative;
}

header#main-header .title {
    width: 320px;
    color: white;
    /* float: none; */
    position: absolute;
    left: 50px;
    padding: 0 30px;
    font-family: 'Libre Baskerville', serif;
    font-weight: 500;
}

header#main-header .title h2 {
    margin: 0;
    font-size: 30px;
    text-align: center;
    transform:translateX(-50px);
}

header#main-header .title h1 {
    font-size: 70px;
    margin: 0;
    text-align: center;
}

header#main-header .title h3 {
    font-size: 20px;
    text-align: center;
    font-style: italic;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    transform:translateX(-50px);
}

.menu-and-pic {
    position: absolute;
    right: 0;
    display: inline-flex;
}

.menu-and-pic ul {
    margin: auto;
    padding: 10px;
    text-align: right;
    list-style-type: none;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}

.menu-and-pic ul li {
    font-size: 30px;
    padding: 3px 0;
    color: white;
}

.menu-link {
    font-size: 25px;
    padding: 0 5%;
    border-radius: 8%;
    color: rgb(153, 153, 153);
    transition: color 0.3s ease;
}

.menu-link:hover {
    color: white;
}

.menu-and-pic img {
    height: 210px;
}

.menu-and-pic img:hover {
    transform: scaleX(-1);
}

/* END OF TOP BAR */

header#small-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: rgba(83, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: .3s;
    z-index: 1;
}

#small-header:hover{
    background-color: rgba(0, 0, 0, 0.8);;
    z-index: 1;
}

header#small-header ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}

header#small-header li {
    text-decoration: none;
    padding: 0 20px;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
}

.current-s a {
    color: white;
    text-decoration: none;
}

.menu-link-s {
    color: rgb(153, 153, 153);
    font-size: 20px;
    transition: color 0.3s ease;
}

.menu-link-s:hover {
    color: white;
    font-size: 25px;
}


/* END OF BOTH NAV BARS. START MAIN BODY */

.left-area {
    position: fixed;
    left: 0;
    width: 20vw;
    height: 200%;
    transform: translateY(-210px);
    /* background-color: rgba(216, 195, 249, 0.85); */
}



div.filter {
    position: fixed;
    left: 3.5vw;
    width: 15vw;
    /* background-color: rgba(216, 195, 249, 0.85); */
    border-radius: 5%;
    margin-top: 10px;
}

.filter-title {
    font-family: 'RocknRoll One', sans-serif;
    margin: 10px auto;
}

form.filter {
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    margin-top: 10px;
}

.inputlabel {
    display: flex;
    flex-direction: row;
    align-items: center;
}

input[type='checkbox'] {
    appearance: none;
    margin-right: 5px;
    margin-left: 0;
    height: 20px;
    width: 20px;
    border-radius: 10%;
    background-color: slategrey;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter label {
    font-size: 20px;
    cursor: pointer;
}

input[type='checkbox']:after {
    font-family: 'Font Awesome 5 Free';
    content: '\f00c';
    font-weight: 900;
    font-size: 15px;
    display: none;
}

input[type='checkbox']:hover {
    background-color: rgb(161, 170, 180);
}

input[type='checkbox']:checked {
    background-color: rgba(231, 0, 0, 0.658);
}

input[type='checkbox']:checked::after {
    display: block;
}

.filter-category {
    padding: 15px 20px;
}

.filter p {
    margin: 0;
    font-weight: 400;
}





#main-area {
    position: absolute;
    margin-top: 10px;
    left: 25vw;
    right: 5vw;
    color: black;
}

#main-area a {
    text-decoration: none;
    color: inherit;
}

.blog-entry {
    padding: 10px 30px;
    margin: 30px auto;
    font-family: 'Poppins', sans-serif;
    transition-duration: .3s;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    border-style: solid;
    border-width: 3px;
}

.blog-entry:hover {
    border-radius: 0;
    background-color: rgb(46, 46, 46);
    color: white;
}

.professional {
    border-color: black;
}

.personal {
    border-color: brown;
}

.reviews {
    border-color: darkblue;
}
