
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-image: url('../images/forest6.png');
    background-size: cover;
}

header {
    background-color:rgb(6, 6, 99);
    height: 180px;
    padding: 15px 0;
    /* to align title div vertically within header: */
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
}

header .title {
    width: 320px;
    color: white;
    /* float: none; */
    position: absolute;
    left: 50px;
    padding: 0 30px;
    font-family: 'Libre Baskerville', serif;
    font-weight: 500;
}

header .title h2 {
    margin: 0;
    font-size: 30px;
    text-align: center;
}

header .title h1 {
    font-size: 70px;
    margin: 0;
    text-align: center;
}

.menu-and-pic {
    position: absolute;
    right: 0;
    display: inline-flex;
}

.menu-and-pic ul {
    margin: auto;
    padding: 10px;
    text-align: right;
    list-style-type: none;
    font-family: 'Oswald', sans-serif;
}

.menu-and-pic ul li {
    font-size: 30px;
    padding: 3px 0;
    color: white;
}

.menu-link {
    font-size: 25px;
    padding: 0 5%;
    border-radius: 8%;
    color: rgb(153, 153, 153);
    transition: color 0.3s ease;
}

.menu-link:hover {
    color: white;
}

.menu-and-pic img {
    height: 210px;
}

/* main region */
/* #main-body-area {
    
} */

.category {
    border-radius: 25px;
    padding: 10px 30px;
    margin: 50px;
}

.category1 {
    background-color: 	rgba(252, 225, 217, 0.9);
}

.category2 {
    background-color: 	rgba(250, 250, 208, 0.9);
}

.category3 {
    background-color: rgba(217, 240, 207, 0.9);
}

.category4 {
    background-color: rgba(198, 233, 238, 0.9);
}

.category-title {
    font-weight: 700;
    margin-left: 20px;
}

.category-subtitle {
    font-weight: 400;
    margin-left: 20px;
}

h3.category-subtitle span {
    font-family: 'Libre Baskerville', serif;
}

h4.category-subtitle span {
    font-weight: 600;
}

.category-space {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    max-width: 100%;
}

.content-box {
    border:rgb(139, 123, 27);
    border-radius: 5px;
    border-style: inset;
    flex-wrap: wrap;
    flex-basis: 25em;
    min-width: 15em;
    height: 140px;
    margin: 10px auto;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-out 0s
}

.content-box:hover {
    transform: scale(1.2);
}

.content-image {
    width: 100%;
    height: 100%;
}

.initial-content {
    width: 100%;
    height: 100%;
}

.overlay-content {
  width: 100%;
  height: 100%;
  color: #080808;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  transition: 0.6s;
  top: 100%;
  left: 0%;
  opacity: 0.9;
  background-color: white;
}

.content-summary {
  text-align: center;
  font-size: 1.4em;
  letter-spacing: 1px;
  line-height: 1.75rem;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.content-summary-title, .content-summary-text {
    margin: 0 10px;   
}

.content-summary img {
    margin: 0 auto;
    width: 25%;
    position: absolute;
}

.overlay-content span {
    display: block;
}

.overlay-content a {
    color: inherit;
    margin: 0 10%;
    padding: 0 1%;
    border-radius: 10%;
    transition: 0.5s;
}

.overlay-content a:hover {
    background-color: rgb(184, 194, 216);
}

.content-box:hover .overlay-content {
    transform: translateY(-100%);
}